.badge{
    border: .05em solid #777;
    border-radius: .25em;
    width: fit-content;
    height: fit-content;
    padding-left: .25em;
    padding-right: .25em;
    background: #777;
    color: white;
    translate: 0 75%;
}